<!DOCTYPE html>
<html>
    <head>
        <title>drinking water project</title>
        {% load static %}
       <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css" />
    </head>
    <body>
        {% load static %}
        <div>
         <img src="{% static 'hero5.png' %}" alt="Image" width="500" height="300">
        </div>
        <div>
            <p>Our drinking water supply project is based in jhapa district ,eastern of Nepal. Being in a remote area, many villages in jhapa still lack the basic needs for living like clean drinking water. On top of that, the 2015 Nepal Earthquake damaged and destroyed some of the exisiting pipelines for drinking water. Dharapani Secondary School and Dharapani, Lamagaun, Ratamate and Ejara villages of japha Rural Municipality, the school and villages that benefit from this project, are located in the remote northern part of the district.</p>
            <h3>Estimated Budget:20,00,000NPR</h3>
            <h3>Date of starting:DD/MM/YYYY</h3>
            <h3>Targetted Date of Completion:DD/MM/YYYY</h3>
            
        </div>
      <div class="card">
        <h3>Comment Here</h3>
        <form action="feedback/" method="POST" id="usrform">
        {% csrf_token %}
        <div>
            {{ forms.as_p }}
        </div>
          <input type="submit">
        </form>
        </div>  
    </body>
</html>